ngx-user-card {
  nb-card {
    cursor: pointer;
  }
}
nb-card.small-card {
  height: 195px  !important;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  z-index: 10;
}
