@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }
  /deep/ .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }
  .leaflet-control-btn {
    color: black;
  }
  .exp-input {
    background-color: transparent;
    width: 50px;

    input {
      background-color: #fff;
    }
  }
  select {
    width: 20%;
    height: 30px;
    text-overflow: ellipsis;
    padding-right: 50px;
    position: relative;
  }

}
