<nb-card>
  <nb-card-header>
    <div class="col-12">
      <div class="row">
        <span><h5>Leaflet Maps</h5></span>
        <hr />
      </div>
      <div>
        <!--//<hr>-->
        <p *ngIf="currentUser">{{currentUser | titlecase}}</p>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-sm-1 float-right">
            <!--<div class="input-group">-->
              <!--<input type="text" class="form-control" placeholder="Experiment Date" [(ngModel)]="expValue" (keyup.enter)="getCertainExpDate()">-->
              <!--<span class="input-group-addon">{{labels.length}}</span>-->
            <!--</div>-->
            <div class="dropdown" placement="top" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle></button>
             <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item">0-8</li>
              <li class="dropdown-item">8-16</li>
             <li class="dropdown-item">16-24</li>
           </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div leaflet [leafletOptions]="options" (leafletMapReady)="onReadyMap($event)" [leafletLayers]="layers">
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-right">
          <div class="leaflet-control-zoom leaflet-bar leaflet-control">
            <a class="leaflet-control-btn"
               (click)="getCurrentLocation($event)" role="button"><i class="fa fa-map-marker"></i></a>
            <a class="leaflet-control-btn"
               (click)="getLatLng($event)" role="button"><i class="ion-arrow-graph-up-right"></i></a>
            <a class="leaflet-control-btn"
               (click)="getRadius($event)" role="button"><i class="fa fa-dot-circle-o"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
