@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }
  /deep/ .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }
  .leaflet-control-btn {
    color: black;
  }
  .exp-input {
    background-color: transparent;
    width: 50px;

    input {
      background-color: #fff;
    }
  }
  select {
    text-overflow: ellipsis;
    position: relative;
    padding: 6px 5px 6px 6px;
    //border-bottom-left-radius: 0;
    //border-top-left-radius: 0;
  }
  .leaflet-bottom {
    bottom: 380px;
  }
  .row {
    margin-right: -17px;
  }
}
