<nb-card>
  <nb-card-header>
    <div class="col-12">
      <div class="row">
        <span><h5>Leaflet Maps</h5></span>
        <hr />
      </div>
      <div class="row">
        <p *ngIf="currentUser">{{currentUser | titlecase}}</p>
      <div class="row">
        <div class="col-12">
          <div class="col-sm-1 float-right">
            <div class="dropdown" placement="Batch" ngbDropdown>
              <select class="btn btn-outline-primary"  ngbDropdownToggle (click)="chooseBatch()" [(ngModel)]="batchValue" title ="Path in batches">
                <option *ngFor="let batchValue of batch">{{batchValue}}</option>
              </select>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div leaflet [leafletOptions]="options" (leafletMapReady)="onReadyMap($event)" [leafletLayersControl]="layersControl" [leafletLayers]="layers">
      <div class="leaflet-control-container">
        <div class="leaflet-bottom leaflet-left">
          <div class="leaflet-control-zoom leaflet-bar leaflet-control">
            <a class="leaflet-control-btn"
               (click)="getCurrentLocation($event)" role="button"><i class="fa fa-map-marker"></i></a>
            <a class="leaflet-control-btn"
               (click)="getTotalPath($event)" role="button" title ="Path"><i class="ion-arrow-graph-up-right"></i></a>
            <a class="leaflet-control-btn"
               (click)="drawRadius($event)" role="button" title ="Home"><i class="fa fa-dot-circle-o"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
